.usersIndex

  = render "/shared/header"
  = image_tag "beer_short.jpg", alt: "image", size: "1107x300", class: "usersIndex__image"

  .usersIndex__main

    .usersIndex__leftContent
      .usersIndex__leftTopContent
        = render partial: "/shared/title", locals: {title: "あなたが幹事のイベント"}
        .usersIndex__events
          = render "/shared/eventPlanner"
      .usersIndex__leftBottomContent
        = render partial: "/shared/title", locals: {title: "開催が近いイベント"}
        .usersIndex__events
          = render "/shared/event"
        = render partial: "/shared/bottomLink", locals: {link: root_path, title: "イベント一覧"}

    .usersIndex__rightContents
      .usersIndex__rightTopContent
        = render "/shared/functions"
      .usersIndex__rightBottomContent
        = render partial: "/shared/title", locals: {title: "最近のコメント"}
        .usersIndex__comments
          = render "/shared/comment"
        = render partial: "/shared/bottomLink", locals: {link: root_path, title: "コメント一覧"}

  = render "/shared/footer"