.comment
  .comment__infoBox
    .comment__userBox
      = image_tag "usericon.png", alt: "sample1", class: "comment__userIcon"
      .comment__userName Tanaka Taro
    .comment__date 3日前
  .comment__content めちゃ美味しかった！4月もまた行きましょ〜！あああああああああああああああああああああああああああああああああ
  .comment__eventTitleBox
    .comment__eventTitleIndex in&nbsp;
    = link_to "女子限定お肉の会", root_path, class: "comment__eventTitle"

.comment
  .comment__infoBox
    .comment__userBox
      = image_tag "usericon.png", alt: "sample1", class: "comment__userIcon"
      .comment__userName Tanaka Taro
    .comment__date 3日前
  .comment__content めちゃ美味しかった！4月もまた行きましょ〜！
  .comment__eventTitleBox
    .comment__eventTitleIndex in&nbsp;
    = link_to "女子限定お肉の会", root_path, class: "comment__eventTitle"

.comment
  .comment__infoBox
    .comment__userBox
      = image_tag "usericon.png", alt: "sample1", class: "comment__userIcon"
      .comment__userName Tanaka Taro
    .comment__date 3日前
  .comment__content めちゃ美味しかった！4月もまた行きましょ〜！
  .comment__eventTitleBox
    .comment__eventTitleIndex in&nbsp;
    = link_to "女子限定お肉の会", root_path, class: "comment__eventTitle"

.comment
  .comment__infoBox
    .comment__userBox
      = image_tag "usericon.png", alt: "sample1", class: "comment__userIcon"
      .comment__userName Tanaka Taro
    .comment__date 3日前
  .comment__content めちゃ美味しかった！4月もまた行きましょ〜！
  .comment__eventTitleBox
    .comment__eventTitleIndex in&nbsp;
    = link_to "女子限定お肉の会", root_path, class: "comment__eventTitle"

.comment
  .comment__infoBox
    .comment__userBox
      = image_tag "usericon.png", alt: "sample1", class: "comment__userIcon"
      .comment__userName Tanaka Taro
    .comment__date 3日前
  .comment__content めちゃ美味しかった！4月もまた行きましょ〜！
  .comment__eventTitleBox
    .comment__eventTitleIndex in&nbsp;
    = link_to "女子限定お肉の会", root_path, class: "comment__eventTitle"

.comment
  .comment__infoBox
    .comment__userBox
      = image_tag "usericon.png", alt: "sample1", class: "comment__userIcon"
      .comment__userName Tanaka Taro
    .comment__date 3日前
  .comment__content めちゃ美味しかった！4月もまた行きましょ〜！
  .comment__eventTitleBox
    .comment__eventTitleIndex in&nbsp;
    = link_to "女子限定お肉の会", root_path, class: "comment__eventTitle"

.comment
  .comment__infoBox
    .comment__userBox
      = image_tag "usericon.png", alt: "sample1", class: "comment__userIcon"
      .comment__userName Tanaka Taro
    .comment__date 3日前
  .comment__content めちゃ美味しかった！4月もまた行きましょ〜！
  .comment__eventTitleBox
    .comment__eventTitleIndex in&nbsp;
    = link_to "女子限定お肉の会", root_path, class: "comment__eventTitle"

.comment
  .comment__infoBox
    .comment__userBox
      = image_tag "usericon.png", alt: "sample1", class: "comment__userIcon"
      .comment__userName Tanaka Taro
    .comment__date 3日前
  .comment__content めちゃ美味しかった！4月もまた行きましょ〜！
  .comment__eventTitleBox
    .comment__eventTitleIndex in&nbsp;
    = link_to "女子限定お肉の会", root_path, class: "comment__eventTitle"

.comment
  .comment__infoBox
    .comment__userBox
      = image_tag "usericon.png", alt: "sample1", class: "comment__userIcon"
      .comment__userName Tanaka Taro
    .comment__date 3日前
  .comment__content めちゃ美味しかった！4月もまた行きましょ〜！
  .comment__eventTitleBox
    .comment__eventTitleIndex in&nbsp;
    = link_to "女子限定お肉の会", root_path, class: "comment__eventTitle"
