.comment
  .comment__infoBox
    .comment__userBox
      = image_tag comment.user.image, alt: "user_icon", class: "comment__userIcon"
      .comment__userName
        = comment.user.name
    .comment__date
      = time_ago_in_words(comment.created_at) 
  .comment__content
    = comment.content
  .comment__imageBox
    = image_tag comment.image.url, size: '100x100', alt: "comment_image", class: "comment__image" if comment.image.present?
  .comment__eventTitleBox
    .comment__eventTitleIndex in&nbsp;
    = link_to "#{comment.event.title}", event_path(comment.event_id), class: "comment__eventTitle"
