.event
  .event__dateBox
    .event__dateBoxInner
      %p.event__date
        = l event.date
      %p.event__time 
        = "#{l event.start_time} 〜 #{l event.end_time}"
      .event__label もうすぐ

  = link_to event_path(event), class: "event__contentBox" do
    .event__imageBox
      = image_tag event.venue.shop_image1, alt: "shop_image", class: "event__image"
    .event__descriptionBox
      %h3.event__title
        = event.title 
      %ul.event__detail
        %li.event__venue
          %span ・会場：&nbsp;
          %span 
            = event.venue.name
        %li.event__organizer
          %span ・幹事：&nbsp;
          %span
            = event.organizer.name
        %li.event__participants
          %span ・参加人数：&nbsp;
          %span 
            = "#{event.participants.length}人"

