.event
  .event__dateBox
    .event__dateBoxInner
      %p.event__date 4/10 (金)
      %p.event__time 19:00 〜 21:00
      .event__label もうすぐ
  .event__contentBox
    .event__imageBox
      = link_to root_path do
        = image_tag "sample2.jpg", alt: "sample1", class: "event__image"
    .event__descriptionBox
      = link_to "2020年度 〜新人歓迎会〜", root_path, class: "event__title" 
      %ul.event__detail
        %li.event__restaurant
          %span ・会場：&nbsp;
          %span 居酒屋hogehoge 下北沢店
        %li.event__planner
          %span ・幹事：&nbsp;
          %span Tanaka Taro
        %li.event__participants
          %span ・参加人数：&nbsp;
          %span 24人



.event
  .event__dateBox
    .event__dateBoxInner
      %p.event__date 4/11 (土)
      %p.event__time 19:00 〜 21:00
      .event__label もうすぐ
  .event__contentBox
    .event__imageBox
      = link_to root_path do
        = image_tag "sample1.jpg", alt: "sample1", class: "event__image"
    .event__descriptionBox
      = link_to "第3回！ワインガブ飲み会！！", root_path, class: "event__title" 
      %ul.event__detail
        %li.event__restaurant
          %span ・会場：&nbsp;
          %span 居酒屋hogehoge 下北沢店
        %li.event__planner
          %span ・幹事：&nbsp;
          %span Tanaka Taro
        %li.event__participants
          %span ・参加人数：&nbsp;
          %span 24人

.event
  .event__dateBox
    .event__dateBoxInner
      %p.event__date 4/17 (金)
      %p.event__time 19:00 〜 21:00
      .event__label--yet まだ先
  .event__contentBox
    .event__imageBox
      = link_to root_path do
        = image_tag "sample3.jpg", alt: "sample1", class: "event__image"
    .event__descriptionBox
      = link_to "鈴木さん、高橋さん、伊藤さん復帰祝い！", root_path, class: "event__title" 
      %ul.event__detail
        %li.event__restaurant
          %span ・会場：&nbsp;
          %span 居酒屋hogehoge 下北沢店
        %li.event__planner
          %span ・幹事：&nbsp;
          %span Tanaka Taro
        %li.event__participants
          %span ・参加人数：&nbsp;
          %span 24人

.event
  .event__dateBox
    .event__dateBoxInner
      %p.event__date 4/24 (金)
      %p.event__time 19:00 〜 21:00
      .event__label--yet まだ先
  .event__contentBox
    .event__imageBox
      = link_to root_path do
        = image_tag "sample4.jpg", alt: "sample1", class: "event__image"
    .event__descriptionBox
      = link_to "焼肉祭り@2020年4月", root_path, class: "event__title" 
      %ul.event__detail
        %li.event__restaurant
          %span ・会場：&nbsp;
          %span 居酒屋hogehoge 下北沢店
        %li.event__planner
          %span ・幹事：&nbsp;
          %span Tanaka Taro
        %li.event__participants
          %span ・参加人数：&nbsp;
          %span 24人

.event
  .event__dateBox
    .event__dateBoxInner
      %p.event__date 4/25 (土)
      %p.event__time 19:00 〜 21:00
      .event__label--yet まだ先
  .event__contentBox
    .event__imageBox
      = link_to root_path do
        = image_tag "sample5.jpg", alt: "sample1", class: "event__image"
    .event__descriptionBox
      = link_to "会社の将来について考えよう", root_path, class: "event__title" 
      %ul.event__detail
        %li.event__restaurant
          %span ・会場：&nbsp;
          %span 居酒屋hogehoge 下北沢店
        %li.event__planner
          %span ・幹事：&nbsp;
          %span Tanaka Taro
        %li.event__participants
          %span ・参加人数：&nbsp;
          %span 24人