.homeIndex.wrapper
  = render "/shared/header"
  = render "/shared/introduction"

  .homeIndex__main.main
    .homeIndex__leftContent
      = render partial: "/shared/title", locals: {title: "開催が近い飲み会"}
      .homeIndex__events
        = render partial: "/shared/event", collection: @events
      = render partial: "/shared/bottomLink", locals: {link: root_path, title: "飲み会一覧"}

    .homeIndex__rightContents
      .homeIndex__rightTopContent
        = render "/shared/calendar"
      .homeIndex__rightBottomContent
        = render partial: "/shared/title", locals: {title: "最近のコメント"}
        .homeIndex__comments
          = render "/shared/comment"
        = render partial: "/shared/bottomLink", locals: {link: root_path, title: "コメント一覧"}

  = render "/shared/footer"
